@font-face {
  font-family: 'MesloLGS NF', sans-serif;
  src: url('/assets/fonts/MesloLGS-NF-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  color: #ffffff;
  font-family: 'MesloLGS NF', sans-serif;
}



