<div class="container">
  <sidebar></sidebar>

  <div class="tabs" [ngClass]="{'sidebar-small': !isSidebarOpen$$(), 'sidebar-big': isSidebarOpen$$()}">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Search">
        <div class="spacing">
          ⚠️ Work in progress ⚠️
        </div>
      </mat-tab>

      <mat-tab label="Saved Builds">
        <div class="spacing">
          ⚠️ Work in progress ⚠️
        </div>
      </mat-tab>

      <mat-tab label="Build Maker">
        <div class="spacing">
          <main-build></main-build>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
