<div class="container">
  <language-list></language-list>
  <sidebar></sidebar>

  <div class="tabs" [ngClass]="{'sidebar-small': !isSidebarOpen$$(), 'sidebar-big': isSidebarOpen$$()}">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab label="Saved Builds">
          ⚠️ Work in progress ⚠️
      </mat-tab>

      <mat-tab label="Descendant">
        <div class="spacing">
        </div>
      </mat-tab>

      <mat-tab label="Weapon 1">
        <div class="spacing">
        </div>
      </mat-tab>

      <mat-tab label="Weapon 2">
        <div class="spacing">
        </div>
      </mat-tab>

      <mat-tab label="Weapon 3">
        <div class="spacing">
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
