@font-face {
  font-family: 'MesloLGS NF', sans-serif;
  src: url('/assets/fonts/MesloLGS-NF-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  color: #ffffff;
  font-family: 'MesloLGS NF', sans-serif;
}

.available-zone {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le titre et l'input */
  margin-bottom: 10px;
}

.header input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

$card-height: 150px;
$card-width: 100px;

.object-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  height: 350px;
  border-radius: 10px;
  overflow: auto;
  font-size: 14px;
}

.item {
  // background
  position: relative;
  background: url('/assets/images/module.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  //
  height: $card-height;
  width: $card-width;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: grab;
  user-select: none;
  overflow: hidden;

  // font
  font-size: 10px;
  color: #ffffff;
}

.item img {
  margin-top: 18px;
  max-width: 58px;
  height: auto;
}
