# Flask stuff:
instance/
.webassets-cache

# mkdocs documentation
/site

# PyCharm
.idea/

__pycache__/

# alembic
alembic.ini
api/sql/alembic/env.py
api/.env

# System files
.DS_Store
Thumbs.db

# AI files
digest.txt