.displayCharacter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notname {
  transition: width 0.3s ease;
  display: none;
  pointer-events: none;
}

.name {
  transition: width 0.3s ease;
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.profile {
  width: 50px;
  border-radius: 25px;
  border-width: thin;
  border-color: #cccccc;
}

.nobutton {
  background: transparent;
  border-radius: 30px;
  border-color: #cccccc;
  border-style: solid;
  padding: 0;
  margin: 2px;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
