<!-- Barre latérale -->
<nav #sidebar class="sidebar" [ngClass]="{'open': isOpen()}">
  <button id="hamburger" class="hamburger" (click)="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <character [smallview]="isOpen()" [character]="current_character$$()"></character>

  <div class="list">
    <side-list></side-list>
  </div>

  <weapon [smallview]="isOpen()" [weapon]="current_weapon_1$$()" [selector]="Selector.WEAPON1"></weapon>
  <weapon [smallview]="isOpen()" [weapon]="current_weapon_2$$()" [selector]="Selector.WEAPON2"></weapon>
  <weapon [smallview]="isOpen()" [weapon]="current_weapon_3$$()" [selector]="Selector.WEAPON3"></weapon>
</nav>

