.available-zone {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: calc(100% - 220px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le titre et l'input */
  margin-bottom: 10px;
}

.header input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;                /* Rendu totalement transparent */
  pointer-events: none;      /* Évite toute interaction */

  /* 2) Conserver la même taille que la carte (ou le module) d’origine */
  max-width: 110px;              /* Ajustez selon votre .background ou .module */
  max-height: 150px;             /* Ajustez selon votre .background ou .module */

  /* 3) Supprimer tout fond ou bordure résiduels */
  background: transparent;
  border: none;

  /* Si besoin, on peut s’assurer que le placeholder n’a pas de margin/padding */
  margin: 0;
  padding: 0;
 }

/* Style de la barre de défilement (scrollbar) */
::-webkit-scrollbar {
  width: 12px; /* Largeur */
}
::-webkit-scrollbar-thumb {
  background: #484a4f; /* Couleur de la scrollbar */
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #333333;
}

.object-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  height: 350px;
  border-radius: 10px;
  overflow: auto;
  font-size: 14px;
}
