<!-- Zone des objets disponibles -->
<div class="available-zone">
  <div class="header">
    <h2>Modules</h2>
    <input type="text" (input)="onSearchTermChange($event)" placeholder="Search ..." />
  </div>
  <div
    cdkDropList
    id="availableList"
    [cdkDropListData]="viewModules()"
    [cdkDropListConnectedTo]="['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']"
    class="object-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      cdkDrag
      *ngFor="let obj of viewModules();">
      <ng-template cdkDragPlaceholder let-item>
      </ng-template>
      <Module-item [currentModule]="obj"></Module-item>
    </div>
  </div>
</div>
