<!-- Zone des objets disponibles -->
<div>
  <div class="header">
    <input type="text" (input)="onSearchTermChange($event)" placeholder="Search ..." />
  </div>
  <div
    cdkDropList
    id="availableList"
    [cdkDropListData]="viewModules()"
    [cdkDropListConnectedTo]="connectedDropLists"
    class="object-list"
    (cdkDropListDropped)="drop($event)">
    <div
      cdkDrag
      *ngFor="let obj of viewModules();">
      <ng-template cdkDragPlaceholder let-item>
      </ng-template>
      <module-item [currentModule]="obj" [isSelected]="false"></module-item>
    </div>
  </div>
</div>
