/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/assets/fonts/MesloLGS-NF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.back {
  background: #333333;
}

/* Style de la barre de défilement (scrollbar) */

::-webkit-scrollbar {
  width: 12px; /* Largeur */
}
::-webkit-scrollbar-thumb {
  background: #484a4f;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #333333;
}

html, body {
  font-family: 'MesloLGS NF', sans-serif;
  overflow-x: hidden;
}

.mat-mdc-tab-body-content {
  overflow: visible;
}

.material-icons-outlined {
  color: white;
}

:root {
  --responsive-scale: 1;
}

@media (max-width: 600px) {
  :root {
    font-size: 11px;
    --responsive-scale: 0.6;
  }
}
