<div class="module">
  <div class="position">
    <div class="background"
         (mouseenter)="onTooltipEnter()"
         (mouseleave)="onTooltipLeave()">
      <img class="{{currentModule().display_data.tier}}" [src]="currentModule().display_data.img" />
      <p *ngIf="language$$()">{{ currentModule().name[language$$()] }}</p>

      <div class="statistics"
           #statsDiv
           [class.show]="showTooltip">
        <div class="{{currentModule().display_data.tier}}">
          <div class="module-header">
            <h2>{{ currentModule().name[language$$()] }}</h2>
            <img [src]="currentModule().display_data.img" />
          </div>
          <div>
            {{ currentModule().statistiques[language$$()] }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
