$card-height: 150px;
$card-width: 110px;

.module {
  text-align: center;
  border-radius: 5px;
  cursor: grab;
  user-select: none;

  // font
  font-size: 10px;
  color: #ffffff;
}

.position {
  position: relative;
}

.background {
  // background
  background: url('/assets/images/module.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 3px;
  height: $card-height;
  width: $card-width;
}

.constraint {
  margin-top: auto;
  text-align: center;
}

.Sub {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: $card-height;
  border-radius: 3px;
  background: linear-gradient(to top, rgb(117, 109, 79, 0.6) 0%, rgba(0, 0, 0, 0) 20%);
}

.Skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: $card-height;
  border-radius: 3px;
  background: linear-gradient(to top, rgb(63, 132, 116, 0.6) 0%, rgba(0, 0, 0, 0) 20%);
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: $card-height;
}

.module img {
  margin-top: 18px;
  max-width: 58px;
  height: auto;
}

.background .statistics {
  display: none;
}

.background:hover .statistics {
  display: block;
}

.statistics {
  display: none;
  width: 300px;
  height: fit-content;
  background-color: rgba(71, 73, 76);

  border-width: thin;
  border-style: solid;
  border-radius: 10px;

  position: absolute;
  transition: all 0.2s ease;
  left: calc($card-width + 10px);
  top: 0px;
  z-index: 10;

  &.show {
    display: block;
  }

  &.flipLeft {
    left: auto;
    right: calc($card-width + 10px);
  }
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.module-header img {
  width: 40px; /* Ajuste la taille */
  height: auto;
  object-fit: contain;
  margin: 0; /* Supprime les marges parasites */
  align-self: center; /* Assure que l’image est bien centrée */
}
